<% provide(:title, "") %>
<h1>勤怠管理システム</h1>
<p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集することができます。</p>


<%#
=begin 2.5
  <!--</body>-->
<!--</html>-->

<% provide(:title, "Top") >%
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) >% | AttendanceApp</title>
  </head>
  <body>
<%
=end>


<%# 2.2
<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>
%>
